<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/page_admin/head.ejs') %>
    <style>
      .main-body {
        padding: 20px 50px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
      }
      h1 {
        color: #a3cb38;
      }
      form {
        max-width: 800px;
        width: 100%;
        margin-top: 50px;
      }
      input[type="text"],
      input[type="number"] {
        width: 100%;
        padding: 10px 20px;
        margin-bottom: 20px;
        border: none;
        border: 1px solid #777;
        border-radius: 10px;
      }
      input[type="file"] {
        margin-bottom: 20px;
      }
      input[type="submit"] {
        width: 30%;
        padding: 10px 20px;
        border: none;
        border: 1px solid #777;
        border-radius: 10px;
        background: #009432;
        color: aliceblue;
      }
      input[type="submit"]:hover {
        color: azure;
        background: #a3cb38;
      }
    </style>
  </head>
  <body>
    <%- include('../components/page_admin/header.ejs') %>
    <div class="main">
      <%- include('../components/page_admin/main-nav.ejs') %>
      <div class="main-body">
        <h1>Add Products</h1>
        <form action="./add" method="POST" enctype="multipart/form-data">
          <input type="text" name="txtName" placeholder="Name" />
          <br />
          <input type="file" name="imgProducts" />
          <br />
          <input type="text" name="codePrd" placeholder="CodeProduct" />
          <br />
          <input type="number" name="pricePrd" placeholder="Price" />
          <br />
          <input type="number" name=page_adminlity" placeholder="Quality" />
          <br />
          <input type="text" name="prdKey" placeholder="prd-Key" />
          <br />
          <input
            type="text"
            name="prdDes"
            placeholder="prd-DescriptionDetails"
          />
          <br />
          <input type="submit" value="Add products" />
        </form>
      </div>
    </div>
  </body>
</html>
