<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/page_admin/head.ejs') %>
  </head>
  <body>
    <%- include('../components/page_admin/header.ejs') %>
    <div class="main">
      <%- include('../components/page_admin/main-nav.ejs') %>
      <div class="main-body"></div>
    </div>
  </body>
</html>
