<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/pages/head.ejs') %>

    <link rel="stylesheet" href="/public/assets/css/prd-All.css" />
  </head>
  <body>
    <!-- header -->
    <%- include('../components/pages/header.ejs') %>

    <!-- product main -->

    <%- include('./prd_Skincare/main.ejs') %>

    <!-- Footer -->
    <%- include('../components/pages/footer.ejs') %>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>

  <script src="/public/assets/js/Home-shop.js"></script>
  <script src="/public/assets/js/dangnhap.js"></script>
  <script src="/public/assets/js/cart-hachi.js"></script>
  <script>
    // SHOW - CHILDREN - PRODUCT - 1
    $(".more-item1").on("click", () => {
      $(".children-item1").css("display", "block");
      $(".more-item1").css("display", "none");
      $(".more-item-click1").css("display", "block");
    });
    $(".more-item-click1").on("click", () => {
      $(".children-item1").css("display", "none");
      $(".more-item1").css("display", "block");
      $(".more-item-click1").css("display", "none");
    });
    // SHOW - CHILDREN - PRODUCT - 2
    $(".more-item2").on("click", () => {
      $(".children-item2").css("display", "block");
      $(".more-item2").css("display", "none");
      $(".more-item-click2").css("display", "block");
    });
    $(".more-item-click2").on("click", () => {
      $(".children-item2").css("display", "none");
      $(".more-item2").css("display", "block");
      $(".more-item-click2").css("display", "none");
    });
    // SHOW - CHILDREN - PRODUCT - 3
    $(".more-item3").on("click", () => {
      $(".children-item3").css("display", "block");
      $(".more-item3").css("display", "none");
      $(".more-item-click3").css("display", "block");
    });
    $(".more-item-click3").on("click", () => {
      $(".children-item3").css("display", "none");
      $(".more-item3").css("display", "block");
      $(".more-item-click3").css("display", "none");
    });
    // SHOW - CHILDREN - PRODUCT - 4
    $(".more-item4").on("click", () => {
      $(".children-item4").css("display", "block");
      $(".more-item4").css("display", "none");
      $(".more-item-click4").css("display", "block");
    });
    $(".more-item-click4").on("click", () => {
      $(".children-item4").css("display", "none");
      $(".more-item4").css("display", "block");
      $(".more-item-click4").css("display", "none");
    });
  </script>
</html>
