<div class="header">
  <div class="header-left">
    <img src="/public/images/hd_mainmenu_icon4.png" alt="" />
    <span>ADMIN HACHI</span>
  </div>
  <div class="header-right">
    <div class="header-right-item"></div>
  </div>
</div>
