<div class="products-filter__container">
    <div class="filter-row">
        <div class="filter-col filter-col-2-4">
            <h4 class="title">Giá</h4>
            <div class="price-filter">
                <div class="price-filter__item">                
                        <input type="checkbox" name="" id="">                     
                    <label for="">Dưới 100.000</label>
                </div>
                <div class="price-filter__item">
                    <input type="checkbox" name="" id="">                     
                    <label for="">Từ 100.000 đến 500.000</label>
                </div>
                <div class="price-filter__item">
                    <input type="checkbox" name="" id="">                     
                    <label for="">Từ 500.000 đến 1.000.000</label>
                </div>
                <div class="price-filter__item">
                    <input type="checkbox" name="" id=""> 
                    <label for="">Trên 1.000.000</label>
                </div>
            </div>
            <h4 class="title">Thương hiệu</h4>
            <div class="brand-filter__item">
                <input type="checkbox" name="" id="">
                <label for="">HACHI</label>
            </div>
            <h4 class="title">Dung Tích</h4>
            <div class="brand-filter__item">
                <div>
                    <input type="checkbox" name="" id="">
                <label for="">350ml</label>
                </div>
               <div>
                <input type="checkbox" name="" id="">
                <label for="">500ml</label>
               </div>
              <div>
                <input type="checkbox" name="" id="">
                <label for="">800ml</label>
              </div>
            </div>
        </div>
        <div class="filter-col filter-col-9-6">
            <div class="product-filter__heading">
                <h1>Danh Sách Sản Phẩm</h1>
            </div>
            <div class="filter-row">
                <div class="filter-col filter-col-3">
                    <div class="product-filter__card">
                        <div class="product-filter-card__top">
                            <img src="../../public/images/prd1_1.png" alt="">
                        </div>
                        <div class="product-filter-card__bottom">
                            <div class="product-filter-card__name">Dầu gội HACHI</div>
                            <div class="product-filter-card__price">499.000 đ</div>
                        </div>
                    </div>
                </div>
                <div class="filter-col filter-col-3">
                    <div class="product-filter__card">
                        <div class="product-filter-card__top">
                            <img src="../../public/images/prd1_1.png" alt="">
                        </div>
                        <div class="product-filter-card__bottom">
                            <div class="product-filter-card__name">Dầu gội HACHI</div>
                            <div class="product-filter-card__price">499.000 đ</div>
                        </div>
                    </div>
                </div>
                <div class="filter-col filter-col-3">
                    <div class="product-filter__card">
                        <div class="product-filter-card__top">
                            <img src="../../public/images/prd1_1.png" alt="">
                        </div>
                        <div class="product-filter-card__bottom">
                            <div class="product-filter-card__name">Dầu gội HACHI</div>
                            <div class="product-filter-card__price">499.000 đ</div>
                        </div>
                    </div>
                </div>
                <div class="filter-col filter-col-3">
                    <div class="product-filter__card">
                        <div class="product-filter-card__top">
                            <img src="../../public/images/prd1_1.png" alt="">
                        </div>
                        <div class="product-filter-card__bottom">
                            <div class="product-filter-card__name">Dầu gội HACHI</div>
                            <div class="product-filter-card__price">499.000 đ</div>
                        </div>
                    </div>
                </div>
                <div class="filter-col filter-col-3">
                    <div class="product-filter__card">
                        <div class="product-filter-card__top">
                            <img src="../../public/images/prd1_1.png" alt="">
                        </div>
                        <div class="product-filter-card__bottom">
                            <div class="product-filter-card__name">Dầu gội HACHI</div>
                            <div class="product-filter-card__price">499.000 đ</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>