<div class="filter-col filter-col-3 currProduct">   
    <div class="product-filter__card">
        <div class="product-filter-card__top">
            <img src="<%= image %>" alt="">
        </div>
        <div class="product-filter-card__bottom">
            <div class="product-filter-card__name"><%= name %></div>
            <div class="product-filter-card__price"><%= price %></div>
        </div>
    </div>          
</div>