<!-- HEADER START *******************************-->
<div class="header">
  <div class="header-top">
    <div class="header-top-left">
      <div class="top-left-item">
        <i class="fas fa-mobile-alt"></i> 1900 636 648
      </div>
      <div class="top-left-item">
        <i class="fas fa-envelope"></i> team@Nodemy.com
      </div>
      <div class="top-left-item">
        <i class="fas fa-map-marker-alt"></i> Hệ thống cửa hàng
      </div>
    </div>
    <div class="header-top-mobile">
      <div class="top-mobile-item">
        <i class="fas fa-home"></i>
        HOME: 214, Nguyễn Xiển, Thanh Xuân, Hà Nội
      </div>
    </div>
    <div class="header-top-right info-user">
      <div class="top-right-item login-regiser">Đăng nhập / Đăng ký</div>
      <button class="logout" onclick="logout()">
        <i class="fas fa-sign-out-alt"></i>Đăng xuất
      </button>
    </div>
  </div>
  <div class="header-main">
    <div class="header-main-mobile">
      <div class="main-mobile-item">
        <i class="fas fa-bars"></i>
      </div>
    </div>
    <div class="header-main-left">
      <a class="main-left-item" href="/">
        <img src="/public/assets/img/logo_hachi1.png" alt="" />
      </a>
    </div>
    <div class="header-main-center">
      <div class="main-center-items">
        <a class="main-center-item" href="/">
          <span class="img-items">
            <img
              class="img-main-center"
              src="/public/assets/img/home.png"
              alt=""
            />
            <img
              class="img-main-center-hover"
              src="/public/assets/img/home_hover.png"
              alt=""
            />
          </span>
          <span class="content-center">TRANG CHỦ</span>
        </a>
      </div>
      <div class="main-center-items">
        <a class="main-center-item" href="/product">
          <span class="img-items">
            <img
              class="img-main-center"
              src="/public/assets/img/sanpham.png"
              alt=""
            />
            <img
              class="img-main-center-hover"
              src="/public/assets/img/sanpham_hover.png"
              alt=""
            />
          </span>
          <span class="content-center">SẢN PHẨM</span>
        </a>
        <div class="lists">
          <div class="list">
            <a class="list-link" href="/product/cham-soc-toc">CHĂM SÓC TÓC</a>
            <a class="list-link" href="/product/dau-xa">Dầu xả</a>
            <a class="list-link" href="/product/dau-goi">Dầu gội</a>
          </div>
          <div class="list">
            <a class="list-link" href="/product/cham-soc-da">CHĂM SÓC DA</a>
            <a class="list-link" href="/product/sua-tam">Sữa tắm</a>
          </div>
          <div class="list">
            <a class="list-link" href="#">NAM GIỚI</a>
            <a class="list-link" href="#">Chăm sóc tóc cho nam</a>
            <a class="list-link" href="#">Tắm và dưỡng thể cho nam</a>
          </div>
          <div class="list list-sp1">
            <a class="list-link" href="#">TRẺ EM</a>
            <a class="list-link" href="#">2-in-1 cho Trẻ em</a>
            <a class="list-link" href="#">Dầu gội Trẻ em</a>
          </div>
        </div>
      </div>
      <div class="main-center-items">
        <a class="main-center-item" href="#">
          <span class="img-items">
            <img
              class="img-main-center"
              src="/public/assets/img/vehachi.png"
              alt=""
            />
            <img
              class="img-main-center-hover"
              src="/public/assets/img/vehachi_hover.png"
              alt=""
            />
          </span>
          <span class="content-center">VỀ HACHI</span>
        </a>
        <div class="lists">
          <div class="list">
            <a class="list-link" href="/about-us/">Về chúng tôi</a>
            <a class="list-link" href="/slogan/"
              >Tầm nhìn - Sứ mệnh - Giá trị cốt lõi</a
            >
            <a class="list-link" href="/contact/">Liên hệ</a>
            <a class="list-link" href="/store/">Hệ thống phân phối bán lẻ</a>
          </div>
        </div>
      </div>
      <div class="main-center-items">
        <a class="main-center-item" href="#">
          <span class="img-items">
            <img
              class="img-main-center"
              src="/public/assets/img/logo3.png"
              alt=""
            />
          </span>
          <span class="content-center">TIN TỨC</span>
        </a>
        <div class="lists">
          <div class="list">
            <a class="list-link" href="#">Khuyến mãi</a>
          </div>
        </div>
      </div>
    </div>
    <div class="header-main-right">
      <div class="main-right-item">
        <button class="search-up"><i class="fas fa-search"></i></button>
      </div>
      <div class="main-right-item">
        <a class="cart-txt" href="/cart/">GIỎ HÀNG</a>
        <a class="cart-span" href="/cart">
          <img src="/public/assets/img/hd_mainmenu_icon_cart.png" alt="" />
          <span class="countSumCart"></span>
        </a>

        <!-- CART -->
        <div class="container-cart">
          <div class="tableTitle"></div>
          <div id="buyItems"></div>
          <div class="priceSumCart"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- HEADER-END ****************** -->
