<!-- MODAL-LOGIN -->

<div class="modal-login">
    <div class="close-login"><i class="fas fa-times"></i></div>
    <div class="box-login">
      <form class="form-login" action="">
        <h2>Login</h2>
        <div class="input_box">
            <span class="input_icon"><i class="far fa-user"></i></span>
            <input
            type="text"
            name=""
            autocomplete="off"
            id="user"
            placeholder="Username"
          /></div>
        <div class="input_box">
            <span class="input_icon"><i class="fas fa-key"></i></span>
            <input type="password" name="" id="pass" placeholder="Password" />
        </div>
        
        
        <a class="on-regiser" href="/regiser"
          >Bạn chưa có tài khoản ? Đăng ký ngay</a
        >
        <input
          class="on-login"
          onclick="dangnhap()"
          type="button"
          value="Đăng nhập"
        />
      </form>
    </div>
  </div>
  <!-- MODAL-LOGIN-END -->