<!-- MODAL-MOBILE -->

<div class="modal-nav-mobile">
    <div class="modal-mobile-close">
      <button class="btn-mobile-close" >
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="modal-mobile">
      <div class="container-mobile">
        <ul class="nav-mobile">
          <li  onclick = "console.log('test')" class="nav-mobile-search">
            <select name="" id="search-mobile-op">
              <option value="">All</option>
              <option value="">Chăm sóc da</option>
              <option value="">Chăm sóc tóc</option>
            </select>
            <div class="search-mobile">
              <input
                id="search-mobile-input"
                type="text"
                placeholder="Tìm kiếm"
              />
              <span class="search-mobile-icon">
                <i class="fas fa-search"></i>
              </span>
            </div>
          </li>
          <li class="nav-mobile-item">
            <div class="nav-item">
              <a class="mobile-link" href="/">
                <span class="img-mobile-nav">
                  <img src="/public/assets/img/home.png" alt="" />
                  <img
                    class="img-mobile-hover"
                    src="/public/assets/img/home_hover.png"
                    alt=""
                  />
                </span>
                <span>TRANG CHỦ</span>
              </a>
            </div>
          </li>
          <li class="nav-mobile-item">
            <div class="nav-item">
              <a class="mobile-link" href="/filter">
                <span class="img-mobile-nav">
                  <img src="/public/assets/img/sanpham.png" alt="" />
                  <img
                    class="img-mobile-hover"
                    src="/public/assets/img/sanpham_hover (1).png"
                    alt=""
                  />
                </span>
                <span>SẢN PHẨM</span>
              </a>
              <span class="more">
                <i class="fas fa-chevron-down more-link-item1"></i>
  
                <i class="fas fa-chevron-down more-link-item-click1"></i>
              </span>
            </div>
            <ul class="children1">
              <li class="children-item">
                <a class="children-link" href="/product/cham-soc-toc"
                  >Chăm sóc tóc</a
                >
                <a class="children-link" href="/product/dau-xa">Dầu xả</a>
                <a class="children-link" href="/product/dau-goi">Dầu gội</a>
              </li>
              <li class="children-item">
                <a class="children-link" href="/product/cham-soc-da"
                  >Chăm sóc da</a
                >
                <a class="children-link" href="/product/sua-tam">Sữa tắm</a>
              </li>
              <li class="children-item">
                <a class="children-link" href="">Nam giới</a>
                <a class="children-link" href="">Chăm sóc tóc nam</a>
                <a class="children-link" href="">Tắm và dưỡng thể cho nam</a>
              </li>
              <li class="children-item">
                <a class="children-link" href="">Trẻ em</a>
                <a class="children-link" href="">2-in-1 cho trẻ em</a>
                <a class="children-link" href="">Dầu gội cho Trẻ em</a>
              </li>
            </ul>
          </li>
          <li class="nav-mobile-item">
            <div class="nav-item">
              <a class="mobile-link" href="">
                <span class="img-mobile-nav">
                  <img src="/public/assets/img/vehachi.png" alt="" />
                  <img
                    class="img-mobile-hover"
                    src="/public/assets/img/vehachi_hover.png"
                    alt=""
                  />
                </span>
                <span>VỀ HACHI</span>
              </a>
              <span class="more">
                <i class="fas fa-chevron-down more-link-item2"></i>
  
                <i class="fas fa-chevron-down more-link-item-click2"></i>
              </span>
            </div>
            <ul class="children2">
              <li class="children-item">
                <a class="children-link" href="/about-us/">Về chúng tôi</a>
                <a class="children-link" href="/slogan/"
                  >Tầm nhìn - Sứ mệnh - Giá trị cốt lõi</a
                >
                <a class="children-link" href="/contact/">Liên hệ</a>
                <a class="children-link" href="/storey/">Hệ thống phân phối</a>
              </li>
            </ul>
          </li>
          <li class="nav-mobile-item">
            <div class="nav-item">
              <a class="mobile-link" href="">
                <span class="img-mobile-nav">
                  <img src="/public/assets/img/logo3.png" alt="" />
                </span>
                <span>TIN TỨC</span>
              </a>
              <span class="more">
                <i class="fas fa-chevron-down more-link-item3"></i>
  
                <i class="fas fa-chevron-down more-link-item-click3"></i>
              </span>
            </div>
            <ul class="children3">
              <li class="children-item">
                <a class="children-link" href="">Khuyến mãi</a>
              </li>
            </ul>
          </li>
  
          <li class="nav-mobile-login">
            <a class="mobile-login" href="/login">Đăng nhập</a>
          </li>
          <li class="nav-mobile-link">
            <a class="link-web" href=""
              ><i class="fas fa-envelope-square"></i> NEWSLETTER</a
            >
          </li>
          <li class="nav-mobile-link">
            <a class="link-web" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="link-web" href=""><i class="fab fa-instagram"></i></a>
            <a class="link-web" href=""><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-mobile-link">
            <a class="link-web" href=""
              ><i class="fas fa-mobile-alt"></i> 1900 666 888</a
            >
          </li>
          <li class="nav-mobile-link">
            <a class="link-web" href=""
              ><i class="fas fa-envelope-square"></i> nodemy@team</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- MODAL-MOBILE-END -->