<!DOCTYPE HTML>
<html>

<head>
	<title>Admin</title>
	<%- include('../Components/headadmin'); -%>
</head>

<body>

	<%- include('../Components/bodyhome'); -%>
</body>

<%- include('../Components/scriptadmin'); -%>

</html>