<div class="page-container">
    <!--/content-inner-->
    <div class="left-content">
        <div class="inner-content">
            <div class="outter-wp">
                <!--/sub-heard-part-->
                <div class="sub-heard-part">
                    <ol class="breadcrumb m-b-0">
                        <h1>nội dung web</h1>
                    </ol>
                </div>
            </div>
            <!--//outer-wp-->
            <!--footer section start-->
            <footer>
                <p>&copy 2016 Augment </p>
            </footer>
            <!--footer section end-->
        </div>
    </div>
    <div class="sidebar-menu">
        <header class="logo">
            <a href="#" class="sidebar-icon">
                <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo">
                    <h1>Databoard</h1>
                </span>
            </a>
        </header>
        <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
        <div class="down">
            <a href="#"><img style="position: unset;height: 70px; border-radius: 40%;border: none;"
                    src="https://thumbs.dreamstime.com/b/businessman-profile-icon-male-portrait-flat-design-vector-illustration-47075259.jpg"
                    alt=""></a>
            <a href="#"><span class=" name-caret">Admin</span></a>
            <ul>
                <li><a class="tooltips" href="#" onclick="logout()"><span>Log out</span><i
                            class="lnr lnr-power-switch"></i></a></li>
            </ul>
        </div>
        <div class="menu">
            <ul id="menu">
                <li id="menu-academico"><a href="#"><i class="fa fa-table"></i> <span>User List Table</span></a>
                </li>

                <li><a href="#"><i class="lnr lnr-pencil"></i> <span>Products List Table</span></a>
                </li>

            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>