<div class="main-nav">
  <ul>
    <li>
      <a href="/user">
        <i class="fab fa-elementor"></i>
        <span>Danh sách User</span>
      </a>
    </li>
    <li>
      <a href="/products">
        <i class="fab fa-product-hunt"></i>
        <span>Products</span>
      </a>
    </li>
    <li>
      <a href="/add">
        <i class="fas fa-folder-plus"></i>
        <span>Add Products</span>
      </a>
    </li>
    <li>
      <a href="/oder">
        <i class="fas fa-luggage-cart"></i>
        <span>Oders</span>
      </a>
    </li>
  </ul>
</div>
