<div class="topbar">
    <div class="toggle" onclick="toggleMenu()">
      <i class="fas fa-bars"></i>
    </div>
    <div class="search">
      <label for="">
        <input type="text" placeholder="Search ..." />
        <i class="fas fa-search"></i>
      </label>
    </div>
    <div class="user">
      <img
        class="user_img"
        src="/public/uploads/thumbnail-1635689411120-956335347.jpg"
        alt=""
      />
    </div>
  </div>
  