<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link
    rel="stylesheet"
    type="text/css"
    href="../../public/assets/css/regiser.css"
  />
  <!-- <link rel="stylesheet" href="../../public/assets/css/regiser.css" /> -->
  <body>
    <div class="main-left">
      <div class="logo">
        <a href="/"><img src="/public/assets/img/logo_hachi1.png" alt="" /></a>
        <h2>Tạo tài khoản</h2>
      </div>
      <input type="text" placeholder="Username" class="user" />
      <input type="password" placeholder="Password" class="pass" />
      <div class="fullname">
        <input type="text" placeholder="FirstName" class="firstName" />
        <input type="text" placeholder="LastName" class="lastName" />
      </div>
      <input type="text" placeholder="Phone" class="Phone" />

      <select name="" id="" class="Genner">
        <option value="Nam">Nam</option>
        <option value="Nữ">Nữ</option>
      </select>

      <input type="email" placeholder="Email" class="Email" />
      <label for="birthday">BirthDay</label>
      <input type="date" id="birthday" class="Birthday" />
      <input type="button" onclick="dangky()" value="Đăng ký" />
      <div class="footer-end">
        <p>
          Bản quyền thuộc về.
          <img class="logo-team" src="/public/images/logo.png" alt="" />
          <span>Team Nodemy.</span>
        </p>
        <a class="go-home" href="/">Trở về trang chủ</a>
      </div>
    </div>
    <div class="main-center"></div>
    <div class="main-right">
      <img
        class="img-left"
        src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/36726e71539023.5bc893e1b5602.jpg"
        alt=""
      />
    </div>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="/public/assets/js/dangky.js"></script>
</html>
