#header {}

.header-top_wrap {
    border-bottom: 1px solid #ddd;
}

.header-top {
    max-width: 1230px;
    padding: 9px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
}

.header-top_contact-item {}

.header-top_contact .header-top_contact-item+.header-top_contact-item {
    margin-left: 12px;
}

.contact-icon {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 13px;
    color: #777;
    background-color: #f4f4f4;
    margin-right: 10px;
}

.header-top_contact span a {
    text-decoration: none;
    color: #111;
    font-weight: 300;
}

.header-top_contact span i {}

.header-top_account {
    font-size: 14px;
    padding: 5px 0;
}

.header-top_account span a {
    text-decoration: none;
    color: #777;
    font-weight: 300;
}

.header-address {
    text-align: center;
    font-size: 14px;
    color: #777;
    display: none;
}

.header-address p a {
    text-decoration: none;
    font-weight: bolder;
    color: #777;
}

.header-address i {
    font-size: 10px;
    margin-right: 10px;
}

.header-bottom {
    height: 96px;
    box-shadow: 1px 6px 6px rgb(0 0 0 / 10%);
    position: relative;
}

.header-bottom_main {
    display: flex;
    justify-content: space-between;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0px 15px;
    height: 100%;
    align-items: center;
}

.main-right {}

.main-right a {
    text-decoration: none;
    font-size: 13px;
    color: #7d7d7d;
}

.main-right a span {
    margin-right: 15px;
    font-weight: bolder;
}

.main-right a span i {
    font-size: 16px;
}

.header-cart {
    position: relative;
}

.header-cart img {
    height: 30px;
    width: 30px;
}

.cart-number {
    position: absolute;
    top: -34px;
    right: -24px;
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: #fff;
    background-color: #878929;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}

.header-bottom_nav {
    position: absolute;
    top: 0;
   width: 50%;
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

.header-bottom_nav__item {
    position: relative;
    height: 100%;
    display: flex;
    margin: 0 15px;
}

.header-bottom_nav__item:hover .list-product {
    display: inline-flex;
}

.nav__item_title {
    display: flex;
    /* height: 100%; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-product {
    /* display: inline-flex; */
    border: 2px solid #eee;
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 100%;
    left: -100%;
}

.list-product.left-20 {
    left: -20%;
}

.list-product_item {
    min-width: 160px;
    white-space: nowrap;
    border-right: 1px solid #eee;
}

.produc_item_title {
    font-size: 13px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
}

.list-product_item>a {
    display: block;
}

.list-product_item>a:hover {
    color: #878929;
    background-color: #ddd;
}

.produc_item_title~a {
    font-size: 16px;
    color: #666;
    padding: 10px 15px;
    text-decoration: none;
}