* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #808080;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-bottom: 1px solid #efefef;
  font-size: 14px;
}

.header .header-top .header-top-left {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 14px;
}

@media screen and (max-width: 888px) {
  .header .header-top .header-top-left {
    display: none;
  }
}

.header .header-top .header-top-left .top-left-item {
  color: #777;
}

.header .header-top .header-top-mobile {
  display: none;
}

@media screen and (max-width: 888px) {
  .header .header-top .header-top-mobile {
    display: block;
    color: #777;
  }
}

.header .header-top .header-top-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 888px) {
  .header .header-top .header-top-right {
    display: none;
  }
}

.header .header-top .header-top-right .top-right-item {
  color: #777;
  cursor: pointer;
}

.header .header-top .info-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header .header-top .info-user .info-username {
  display: inline-block;
  text-decoration: none;
  height: 100%;
  font-size: 13px;
  color: #4267b2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.header .header-top .info-user .info-username .img_user {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: none;
}

.header .header-top .info-user .open-logout {
  width: 30px;
  height: 100%;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 20px;
  color: #4267b2;
}

.header .header-top .info-user .logout {
  display: none;
  position: absolute;
  right: 30%;
  top: 100%;
  width: 100px;
  height: 50px;
  background: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background: #fff;
  font-size: 14px;
  color: #4267b2;
  outline: none;
  cursor: pointer;
  z-index: 11;
}

.header .header-top .info-user .logout:hover {
  background: #4267b2;
  color: #fff;
}

.header .header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 96px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 888px) {
  .header .header-main {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.header .header-main .header-main-mobile {
  display: none;
}

@media screen and (max-width: 888px) {
  .header .header-main .header-main-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25%;
    color: #777;
    font-size: 24px;
    cursor: pointer;
  }
}

.header .header-main .header-main-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 888px) {
  .header .header-main .header-main-left {
    width: 50%;
  }
}

.header .header-main .header-main-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 888px) {
  .header .header-main .header-main-center {
    display: none;
  }
}

.header .header-main .header-main-center .main-center-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 96px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header .header-main .header-main-center .main-center-items:hover .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-main .header-main-center .main-center-items .main-center-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 96px;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 10px;
  text-decoration: none;
}

.header .header-main .header-main-center .main-center-items .main-center-item:hover .img-main-center-hover,
.header .header-main .header-main-center .main-center-items .main-center-item:hover .content-center {
  display: block !important;
  color: #4267b2;
}

.header .header-main .header-main-center .main-center-items .main-center-item .img-items {
  position: relative;
}

.header .header-main .header-main-center .main-center-items .main-center-item .img-items .img-main-center-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.header .header-main .header-main-center .main-center-items .main-center-item .content-center {
  margin-top: 5px;
  font-size: 13px;
  font-weight: bold;
  color: #777;
}

.header .header-main .header-main-center .main-center-items .lists {
  position: absolute;
  top: 95px;
  left: -96px;
  border: none;
  border-radius: 5px;
  display: none;
  z-index: 3;
  background: #fff;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.header .header-main .header-main-center .main-center-items .lists .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  border-right: 1px solid #ccc;
}

.header .header-main .header-main-center .main-center-items .lists .list .list-link {
  padding: 5px;
  text-decoration: none;
  color: #777;
}

.header .header-main .header-main-center .main-center-items .lists .list .list-link:hover {
  color: #4267b2;
  background: #ccc;
}

.header .header-main .header-main-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 888px) {
  .header .header-main .header-main-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header .header-main .header-main-right .main-right-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-right: 10px;
  text-decoration: none;
  color: #777;
  font-size: 14px;
  font-weight: bold;
}

.header .header-main .header-main-right .main-right-item:hover .container-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 800px) {
  .header .header-main .header-main-right .main-right-item:hover .container-cart {
    display: none;
  }
}

.header .header-main .header-main-right .main-right-item .search-up {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 888px) {
  .header .header-main .header-main-right .main-right-item .search-up {
    display: none;
  }
}

.header .header-main .header-main-right .main-right-item .cart-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  text-decoration: none;
  color: #777;
}

@media screen and (max-width: 888px) {
  .header .header-main .header-main-right .main-right-item .cart-txt {
    display: none;
  }
}

.header .header-main .header-main-right .main-right-item .cart-span {
  position: relative;
}

.header .header-main .header-main-right .main-right-item .cart-span .countSumCart {
  position: absolute;
  top: -10%;
  right: -10%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  background: #4267b2;
  color: #fff;
}

.header .header-main .header-main-right .main-right-item .container-cart {
  display: none;
  position: absolute;
  position: fixed;
  top: 15vh;
  right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  max-height: 60vh;
  z-index: 9;
  border-radius: 10px 0px 0px 10px;
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-animation: showcart 0.5s ease-out 1;
          animation: showcart 0.5s ease-out 1;
}

@-webkit-keyframes showcart {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes showcart {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (max-width: 800px) {
  .header .header-main .header-main-right .main-right-item .container-cart {
    display: none;
  }
}

.header .header-main .header-main-right .main-right-item .container-cart .tableTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.header .header-main .header-main-right .main-right-item .container-cart .tableTitle .tableItem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  width: 100%;
  padding: 10px 0;
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.header .header-main .header-main-right .main-right-item .container-cart .tableTitle .tableItem .img-prd-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-main .header-main-right .main-right-item .container-cart .tableTitle .tableItem .img-prd-cart .img-prd {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .header-main .header-main-right .main-right-item .container-cart .tableTitle .tableItem .name-prd-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header .header-main .header-main-right .main-right-item .container-cart .tableTitle .tableItem .price-prd-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-main .header-main-right .main-right-item .container-cart .tableTitle .tableItem .count-prd-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-main .header-main-right .main-right-item .container-cart .tableTitle .tableItem .count-prd-cart .button-minus,
.header .header-main .header-main-right .main-right-item .container-cart .tableTitle .tableItem .count-prd-cart .button-plus {
  width: 20px;
  height: 20px;
  background: #4267b2;
  color: #ececec;
  border: none;
  font-size: 16px;
}

.header .header-main .header-main-right .main-right-item .container-cart .tableTitle .tableItem .count-prd-cart .countOfProduct {
  margin-left: 10px;
  margin-right: 10px;
}

.header .header-main .header-main-right .main-right-item .container-cart .tableTitle .tableItem .total-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-main .header-main-right .main-right-item .container-cart #buyItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.header .header-main .header-main-right .main-right-item .container-cart #buyItems::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: #fff;
}

.header .header-main .header-main-right .main-right-item .container-cart #buyItems::-webkit-scrollbar-thumb {
  background-color: #e4e6eb;
}

.header .header-main .header-main-right .main-right-item .container-cart #buyItems .buyItem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  width: 100%;
  padding: 10px 0;
  border-bottom: 2px solid #e4e6eb;
}

.header .header-main .header-main-right .main-right-item .container-cart #buyItems .buyItem .img-prd-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-main .header-main-right .main-right-item .container-cart #buyItems .buyItem .img-prd-cart .img-prd {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .header-main .header-main-right .main-right-item .container-cart #buyItems .buyItem .name-prd-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header .header-main .header-main-right .main-right-item .container-cart #buyItems .buyItem .price-prd-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-main .header-main-right .main-right-item .container-cart #buyItems .buyItem .count-prd-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-main .header-main-right .main-right-item .container-cart #buyItems .buyItem .count-prd-cart .button-minus,
.header .header-main .header-main-right .main-right-item .container-cart #buyItems .buyItem .count-prd-cart .button-plus {
  width: 20px;
  height: 20px;
  background: #4267b2;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.header .header-main .header-main-right .main-right-item .container-cart #buyItems .buyItem .count-prd-cart .countOfProduct {
  margin-left: 5px;
  margin-right: 5px;
}

.header .header-main .header-main-right .main-right-item .container-cart #buyItems .buyItem .total-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-main .header-main-right .main-right-item .container-cart #buyItems .empty {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-main .header-main-right .main-right-item .container-cart .priceSumCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.header .header-main .header-main-right .main-right-item .container-cart .priceSumCart .totalItem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  width: 100%;
  height: 50px;
  padding: 10px 0;
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.header .header-main .header-main-right .main-right-item .container-cart .priceSumCart .totalItem .total {
  text-align: end;
}

.header .header-main .header-main-right .main-right-item .container-cart .priceSumCart .totalItem .buy-sumPrice {
  text-align: center;
}

.header .sticky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 96px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-animation: ani-header-main 0.5s ease-in-out 1;
          animation: ani-header-main 0.5s ease-in-out 1;
}

@-webkit-keyframes ani-header-main {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes ani-header-main {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=header1.css.map */