* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background: #fff;
}
body::-webkit-scrollbar-thumb {
  background-color: #808080;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  .header-top {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom: 1px solid #efefef;
    font-size: 14px;
    .header-top-left {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      font-size: 14px;

      @media screen and (max-width: 888px) {
        display: none;
      }
      .top-left-item {
        color: #777;
      }
    }
    .header-top-mobile {
      display: none;

      @media screen and (max-width: 888px) {
        display: block;
        color: #777;
      }
    }
    .header-top-right {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 888px) {
        display: none;
      }

      .top-right-item {
        color: #777;
        cursor: pointer;
      }
    }
    .info-user {
      display: flex;
      position: relative;
      .info-username {
        display: inline-block;
        text-decoration: none;
        height: 100%;
        font-size: 13px;
        color: #4267b2;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        .img_user {
          width: 30px;
          height: 30px;
          object-fit: cover;
          border-radius: 50%;
          border: none;
        }
      }
      .open-logout {
        width: 30px;
        height: 100%;
        border: none;
        background: none;
        font-size: 16px;
        cursor: pointer;
        font-weight: bold;
        margin-top: 5px;
        margin-left: 20px;
        color: #4267b2;
      }
      .logout {
        display: none;
        position: absolute;
        right: 30%;
        top: 100%;
        width: 100px;
        height: 50px;
        background: none;
        align-items: center;
        justify-content: center;
        border: none;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        background: #fff;
        font-size: 14px;
        color: #4267b2;
        outline: none;
        cursor: pointer;
        z-index: 11;
        &:hover {
          background: #4267b2;
          color: #fff;
        }
      }
    }
  }

  .header-main {
    display: flex;
    width: 100%;
    height: 96px;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 888px) {
      justify-content: space-evenly;
    }
    .header-main-mobile {
      display: none;
      @media screen and (max-width: 888px) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        color: #777;
        font-size: 24px;
        cursor: pointer;
      }
    }

    .header-main-left {
      display: flex;
      width: 25%;
      height: 100%;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 888px) {
        width: 50%;
      }
    }
    .header-main-center {
      display: flex;
      width: 50%;
      height: 100%;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 888px) {
        display: none;
      }

      .main-center-items {
        display: flex;
        position: relative;
        width: 96px;
        justify-content: center;
        align-items: center;
        height: 100%;
        &:hover .lists {
          display: flex;
        }
        .main-center-item {
          display: flex;
          width: 96px;
          height: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          padding: 10px;
          text-decoration: none;
          &:hover .img-main-center-hover,
          &:hover .content-center {
            display: block !important;
            color: #4267b2;
          }
          .img-items {
            position: relative;

            .img-main-center-hover {
              display: none;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
            }
          }
          .content-center {
            margin-top: 5px;
            font-size: 13px;
            font-weight: bold;
            color: #777;
          }
        }
        .lists {
          position: absolute;
          top: 95px;
          left: -96px;
          border: none;
          border-radius: 5px;
          display: none;
          z-index: 3;
          background: #fff;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          .list {
            display: flex;
            flex-direction: column;
            width: 200px;
            border-right: 1px solid #ccc;

            .list-link {
              padding: 5px;
              text-decoration: none;
              color: #777;
              &:hover {
                color: #4267b2;
                background: #ccc;
              }
            }
          }
        }
      }
    }
    .header-main-right {
      display: flex;
      width: 25%;
      height: 100%;
      justify-content: end;
      align-items: center;

      @media screen and (max-width: 888px) {
        justify-content: center;
      }
      .main-right-item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-right: 10px;
        text-decoration: none;
        color: #777;
        font-size: 14px;
        font-weight: bold;
        &:hover .container-cart {
          display: flex;
          @media screen and (max-width: 800px) {
            display: none;
          }
        }
        .search-up {
          background: none;
          border: none;
          font-size: 16px;
          cursor: pointer;

          @media screen and (max-width: 888px) {
            display: none;
          }
        }
        .cart-txt {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          font-size: 13px;
          text-decoration: none;
          color: #777;
          @media screen and (max-width: 888px) {
            display: none;
          }
        }
        .cart-span {
          position: relative;
          .countSumCart {
            position: absolute;
            top: -10%;
            right: -10%;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            text-align: center;
            background: #4267b2;
            color: #fff;
          }
        }

        //cart-show******/
        .container-cart {
          display: none;
          position: absolute;
          position: fixed;
          top: 15vh;
          right: 0;
          flex-direction: column;
          justify-content: space-between;
          width: 400px;
          max-height: 60vh;
          z-index: 9;
          border-radius: 10px 0px 0px 10px;
          background: #fff;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          animation: showcart 0.5s ease-out 1;

          @keyframes showcart {
            0% {
              transform: translateX(100%);
            }
            100% {
              transform: translateX(0);
            }
          }

          @media screen and (max-width: 800px) {
            display: none;
          }
          .tableTitle {
            display: flex;
            width: 100%;
            .tableItem {
              display: grid;
              grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
              width: 100%;
              padding: 10px 0;
              background: #fff;
              box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
              .img-prd-cart {
                display: flex;
                justify-items: center;
                align-items: center;
                .img-prd {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
              .name-prd-cart {
                display: flex;
                justify-items: center;
                align-items: center;
                width: 100%;
              }
              .price-prd-cart {
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .count-prd-cart {
                display: flex;
                justify-content: center;
                align-items: center;
                .button-minus,
                .button-plus {
                  width: 20px;
                  height: 20px;
                  background: #4267b2;
                  color: #ececec;
                  border: none;
                  font-size: 16px;
                }
                .countOfProduct {
                  margin-left: 10px;
                  margin-right: 10px;
                }
              }
              .total-price {
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
          #buyItems {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            overflow-y: scroll;

            &::-webkit-scrollbar {
              width: 5px;
              height: 5px;
              background: #fff;
            }
            &::-webkit-scrollbar-thumb {
              background-color: #e4e6eb;
            }
            .buyItem {
              display: grid;
              grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
              width: 100%;
              padding: 10px 0;
              border-bottom: 2px solid #e4e6eb;

              .img-prd-cart {
                display: flex;
                justify-items: center;
                align-items: center;
                .img-prd {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
              .name-prd-cart {
                display: flex;
                justify-items: center;
                align-items: center;
                width: 100%;
              }
              .price-prd-cart {
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .count-prd-cart {
                display: flex;
                justify-content: center;
                align-items: center;
                .button-minus,
                .button-plus {
                  width: 20px;
                  height: 20px;
                  background: #4267b2;
                  color: #fff;
                  border: none;
                  font-size: 16px;
                  cursor: pointer;
                }
                .countOfProduct {
                  margin-left: 5px;
                  margin-right: 5px;
                }
              }
              .total-price {
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
            .empty {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          .priceSumCart {
            display: flex;
            width: 100%;
            .totalItem {
              display: grid;
              grid-template-columns: 2fr 1fr;
              width: 100%;
              height: 50px;
              padding: 10px 0;
              background: #fff;
              box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
              .total {
                text-align: end;
              }
              .buy-sumPrice {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
  .sticky {
    display: flex;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 96px;
    justify-content: center;
    align-items: center;
    border: none;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    animation: ani-header-main 0.5s ease-in-out 1;

    @keyframes ani-header-main {
      0% {
        transform: translateY(-100px);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
}
