* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #808080;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 60px;
}

.main-wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  width: 100%;
  background: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
  margin-top: -100px;
  border-bottom: 1px solid #ccc;
}

.main-wrapper .container .wrapper-intro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  width: 100%;
  gap: 16px;
  margin-bottom: 60px;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .wrapper-intro {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.main-wrapper .container .wrapper-intro .intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper .container .wrapper-intro .intro:hover .intro-txt,
.main-wrapper .container .wrapper-intro .intro:hover .img-intro {
  display: block;
  opacity: 0.8;
}

.main-wrapper .container .wrapper-intro .intro .img-intro {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-wrapper .container .wrapper-intro .intro .intro-txt {
  display: none;
  position: absolute;
  text-align: center;
  font-size: 16px;
  color: #4267b2;
}

.main-wrapper .container .wrapper-detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 960px) {
  .main-wrapper .container .wrapper-detail {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 660px) {
  .main-wrapper .container .wrapper-detail {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    gap: 30px;
  }
}

.main-wrapper .container .wrapper-detail .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.main-wrapper .container .wrapper-detail .detail .detail-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.main-wrapper .container .wrapper-detail .detail .detail-txt .txt-content {
  font-weight: 600;
  color: #4267b2;
}

.main-wrapper .container .wrapper-detail .detail .detail-txt .txt-nd {
  color: #777;
}

.body {
  width: 100%;
  margin-bottom: 40px;
}

.body .prd {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body .prd .prd-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.body .prd .prd-content .content-title {
  color: #4267b2;
  margin-top: 40px;
  margin-bottom: 20px;
}

.body .prd .prd-content .content-txt {
  color: #4267b2;
  margin-bottom: 20px;
}

.body .prd .prd-content .underline {
  width: 150px;
  background: #4267b2;
  height: 2px;
}

.body .prd .btn-prds {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .body .prd .btn-prds {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.body .prd .btn-prds .btn-prd1,
.body .prd .btn-prds .btn-prd2,
.body .prd .btn-prds .btn-prd3,
.body .prd .btn-prds .btn-prd4,
.body .prd .btn-prds .btn-prd5 {
  text-decoration: none;
  text-align: center;
  padding: 15px 25px;
  border: none;
  border: 2px solid #4267b2;
  background: none;
  font-size: 16px;
  border-radius: 24px;
  outline: none;
  color: #777;
  cursor: pointer;
}

.body .prd .btn-prds .btn-prd1:hover,
.body .prd .btn-prds .btn-prd2:hover,
.body .prd .btn-prds .btn-prd3:hover,
.body .prd .btn-prds .btn-prd4:hover,
.body .prd .btn-prds .btn-prd5:hover {
  color: #808080;
  border: 2px solid #2ecc71;
}

.body .prd .list-prd {
  width: 100%;
  padding: 5px;
}

.body .prd .list-prd .product-item {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 300px 80px 60px;
      grid-template-rows: 300px 80px 60px;
  border: none;
}

.body .prd .list-prd .product-item:hover .item-buy-see {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body .prd .list-prd .product-item .product-img .img-prd {
  -o-object-fit: cover;
     object-fit: cover;
}

.body .prd .list-prd .product-item .product-name {
  width: 100%;
  color: #808080;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
}

.body .prd .list-prd .product-item .product-price {
  width: 100%;
  color: #e74c3c;
  font-size: 18px;
  text-decoration: underline;
  text-align: center;
  padding: 10px 0;
}

.body .prd .list-prd .product-item .product-price::before {
  content: "$";
}

.body .prd .list-prd .product-item .item-buy-see {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.body .prd .list-prd .product-item .item-buy-see .buy-item {
  width: 110px;
  height: 40px;
  background: #4267b2;
  color: #fff;
  font-size: 13px;
  border: none;
  -webkit-box-shadow: 0 6px 5px rgba(0, 0, 0, 0.651);
          box-shadow: 0 6px 5px rgba(0, 0, 0, 0.651);
  cursor: pointer;
}

.body .prd .list-prd .product-item .item-buy-see .see-item {
  width: 110px;
  height: 40px;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  background: #27ae60;
  color: #fff;
  font-size: 13px;
  border: none;
  -webkit-box-shadow: 0 6px 5px rgba(0, 0, 0, 0.651);
          box-shadow: 0 6px 5px rgba(0, 0, 0, 0.651);
  cursor: pointer;
}

.body .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .body .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.body .banner .banner-item {
  width: 50%;
}

@media screen and (max-width: 800px) {
  .body .banner .banner-item {
    width: 100%;
  }
}

.body .banner .banner-item .img-banner {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */