.modal-search {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.74);
    display: none;
    align-items: center;
    justify-content: center;
    padding: 30px;
    position: fixed;
    z-index: 2;
    .modal-search-close {
      top: 0;
      right: 0;
      position: absolute;
      width: 50px;
      height: 50px;
  
      .btn-close {
        outline: none;
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        color: #fff;
        font-size: 32px;
        cursor: pointer;
      }
    }
    .box-search {
      width: 800px;
      max-height: 100%;
      animation: ani1 0.5s ease-out 1;
      @keyframes ani1 {
        0% {
          transform: translateY(-100%);
          opacity: 0;
        }
  
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
      .form-search {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .select_input {
          display: flex;
          justify-content: space-between;
          gap: 20px;
          height: 68px;
          #selection {
            width: 25%;
            font-size: 24px;
            padding: 20px;
            border: none;
            background: rgba(0, 0, 0, 0.2);
            color: #fff;
            outline: none;
            border-radius: 50px;
          }
          .search-box {
            display: flex;
            position: relative;
            width: 100%;
            #search {
              border-radius: 50px;
              width: 100%;
              padding: 20px 30px;
              border: none;
              background: rgba(0, 0, 0, 0.2);
              color: #fff;
              outline: none;
              font-size: 24px;
              &::placeholder {
                color: #fff;
                font-size: 24px;
              }
            }
            .btn-search {
              position: absolute;
              top: 30%;
              right: 5%;
              background: none;
              border: none;
              color: #fff;
              font-size: 24px;
            }
          }
        }
  
        .search_show {
          display: flex;
          margin-left: 25%;
          .list-search {
            overflow-y: scroll;
            max-height: 300px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            &::-webkit-scrollbar {
              width: 10px;
              height: 5px;
              background: none;
            }
            &::-webkit-scrollbar-thumb {
              background-color: #808080;
            }
            .search-item {
              display: grid;
              grid-template-columns: 1fr 3fr 1fr;
              width: 100%;
              height: 50px;
              text-decoration: none;
              padding: 0 10px;
              color: #fff;
              &:hover {
                background: rgba(0, 0, 0, 0.2);
              }
              .img-search-item {
                height: 50px;
  
                .img-search {
                  width: 50px;
                  height: 50px;
                  object-fit: cover;
                  border-radius: 50%;
                }
              }
              .name-search-item {
                height: 100%;
              }
              .price-search-item {
                height: 100%;
              }
            }
          }
        }
      }
    }
  }