.body_main {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: #f5f5f5;
  overflow-x: hidden;
  overflow-y: hidden;
  @media screen and (max-width: 992px) {
      display: flex;
      flex-direction: column;
  }
  .main-left {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 30px;
    gap: 20px;
    .profile {
      width: 100%;
      display: flex;
      justify-content: start;
      height: 100px;
      gap: 20px;
      .img_user {
        width: 100px;
        height: 100px;
        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .name_user {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333;
      }
    }
    .main-left_items {
      width: 100%;
      display: flex;
      flex-direction: column;
      background: #eaeaea;
      .item {
          text-decoration: none;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        cursor: pointer;
        color: #333;
      }
    }
  }
  .main-right {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media screen and (max-width: 992px) {
        margin-top: 10px;
    }

    .search-order {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 20px;
      input {
        padding: 15px 20px;
        width: 100%;
        background: #eaeaea;
        border: none;
        font-size: 16px;
        outline: none;
      }
    }
    .container-orders {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 30px;
      padding: 20px;
      .container-order {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        background: #fff;
        .header-order {
          position: relative;
          width: 100%;
          display: flex;
          justify-content: space-between;
          color: #777;
          background: #eaeaea;
          padding: 20px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          @media screen and (max-width: 992px) {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        }
        .body-order {
          position: relative;
          display: flex;
          flex-direction: column;
          padding-bottom: 0;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          .order-item {
            width: 100%;
            display: grid;
            grid-template-columns: 3fr 1fr;
            padding: 10px;
            border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
            &:nth-last-child(1){
                border-bottom: none;
            }
            @media screen and (max-width: 992px) {
                display: flex;
                flex-direction: column;
            }
            .order-item_left {
              display: flex;
              gap: 20px;
              .item-img {
                height: 100px;
                .img {
                  height: 100px;
                  width: 100px;
                  object-fit: cover;
                }
              }
              .item-title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;
                .title-name {
                    text-align: start;
                  color: #777;
                  font-size: 16px;
                }
                .title-quantity {
                    text-align: start;
                  color: #777;
                  font-size: 16px;
                }
              }
            }
            .order-item_right {
              display: flex;
              align-items: center;
              @media screen and (max-width: 992px) {
                display: flex;
                justify-content: end;
            }
              .item-price {
                text-align: center;
                color: #777;
                font-size: 16px;
              }
            }
          }
        }
        .total-money {
          text-align: end;
          padding: 20px;
          color: #777;
          background: #eaeaea;
          font-size: 20px;
        }
      }
    }
  }
}
