.body_container {
  position: relative;
  width: 100%;
  padding: 60px 80px;
  background: #eaeff2;
}

@media screen and (max-width: 768px) {
  .body_container {
    padding: 20px 5px;
  }
}

.body_container .body_main {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 992px) {
  .body_container .body_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.body_container .body_main .main-left {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
  gap: 20px;
  background: #003147;
  height: 450px;
}

@media screen and (max-width: 768px) {
  .body_container .body_main .main-left {
    position: relative !important;
    width: 100%;
  }
}

.body_container .body_main .main-left .profile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.body_container .body_main .main-left .profile .img_user {
  width: 150px;
  height: 150px;
}

.body_container .body_main .main-left .profile .img_user img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.body_container .body_main .main-left .profile .name_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.body_container .body_main .main-left .main-left_items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body_container .body_main .main-left .main-left_items .item {
  text-decoration: none;
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}

.body_container .body_main .main-left .main-left_items .item:hover {
  background: #fff;
  color: #096d89;
}

.body_container .body_main .main-left .main-left_items .item .icon {
  width: 50px;
  height: 50px;
  padding-right: 20px;
}

.body_container .body_main .main-right {
  width: 70%;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .body_container .body_main .main-right {
    margin-top: 10px;
    width: 100% !important;
    margin-left: 0;
  }
}

.body_container .body_main .main-right .container-orders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 30px;
  padding: 20px;
}

.body_container .body_main .main-right .container-orders .content h2 {
  color: #006885;
}

.body_container .body_main .main-right .container-orders .container-order {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background: #fff;
  border: 2px solid #006885;
  cursor: pointer;
}

.body_container .body_main .main-right .container-orders .container-order .header-order {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #006885;
  background: #eaeaea;
  padding: 20px;
}

@media screen and (max-width: 992px) {
  .body_container .body_main .main-right .container-orders .container-order .header-order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}

.body_container .body_main .main-right .container-orders .container-order .body-order {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 0;
  border-bottom: 1px solid #006885;
}

.body_container .body_main .main-right .container-orders .container-order .body-order .order-item {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  border-bottom: 1px solid #006885;
}

.body_container .body_main .main-right .container-orders .container-order .body-order .order-item:nth-last-child(1) {
  border-bottom: none;
}

@media screen and (max-width: 992px) {
  .body_container .body_main .main-right .container-orders .container-order .body-order .order-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.body_container .body_main .main-right .container-orders .container-order .body-order .order-item .order-item_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.body_container .body_main .main-right .container-orders .container-order .body-order .order-item .order-item_left .item-img {
  height: 60px;
}

.body_container .body_main .main-right .container-orders .container-order .body-order .order-item .order-item_left .item-img .img {
  height: 60px;
  width: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.body_container .body_main .main-right .container-orders .container-order .body-order .order-item .order-item_left .item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.body_container .body_main .main-right .container-orders .container-order .body-order .order-item .order-item_left .item-title .title-name {
  text-align: start;
  color: #777;
  font-size: 14px;
}

.body_container .body_main .main-right .container-orders .container-order .body-order .order-item .order-item_left .item-title .title-quantity {
  text-align: start;
  color: #777;
  font-size: 14px;
}

.body_container .body_main .main-right .container-orders .container-order .body-order .order-item .order-item_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  .body_container .body_main .main-right .container-orders .container-order .body-order .order-item .order-item_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

.body_container .body_main .main-right .container-orders .container-order .body-order .order-item .order-item_right .item-price {
  text-align: center;
  color: #777;
  font-size: 14px;
}

.body_container .body_main .main-right .container-orders .container-order .total-money {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #006885;
  font-size: 16px;
  padding: 10px;
}

.body_container .body_main .main-right .container-orders .container-order .total-money .canCel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.body_container .body_main .main-right .container-orders .container-order .total-money .canCel .cancelOrder {
  font-size: 16px;
  padding: 5px 10px;
  background: #e74c3c;
  border: none;
  color: #fff;
}

.body_container .body_main .main-right .container-orders .container-order .total-money .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.fade {
  display: none;
}
/*# sourceMappingURL=myOrder.css.map */