<!-- Header-wrraper -->
<div class="header ">
  <!-- Header-wrraper-tops -->
  <div class="header-top">
    <div class="header-top-left">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="#"
            ><i class="fas fa-mobile-alt"></i> 1900 636 648</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="fas fa-envelope"></i> team@Nodemy.com</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="fas fa-map-marker-alt"></i> Hệ thống cửa hàng</a
          >
        </li>
      </ul>
    </div>

    <div class="header-top-right">
      <ul class="nav justify-content-start" right>
        <li class="nav-item info-user">
          <a
            class="nav-link login-regiser"
            href="#"
            type="button"
            class="btn btn-primary btn-lg"
            data-toggle="modal"
            data-target="#modelId"
            >Đăng nhập / Đăng ký</a
          >
          <button class="logout" onclick="logout()"><i class="fas fa-sign-out-alt"></i>Đăng xuất</button>
        </li>
      </ul>
    </div>
  </div>
  <!-- Header-wrraper-tops-end -->


  <!-- Modal -->
  <div
    class="modal fade"
    id="modelId"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modelTitleId"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Đăng nhập</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" class="form-login">
            <div class="form-group">
              <label for="">Tên tài khoản hoặc địa chỉ email *</label>
              <input
                type="text"
                name=""
                id="user"
                class="form-control"
                placeholder=""
              />
            </div>
            <div class="form-group">
              <label for="">Mật khẩu *</label>
              <input
                type="password"
                name=""
                id="pass"
                class="form-control"
                placeholder=""
              />
            </div>
            <div class="form-regiser">
              <label class="form-regiser-label">
                <a href="/regiser">Bạn chưa có tài khoản? Đăng ký ngay</a>
              </label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <input
            name=""
            onclick="dangnhap()"
            id=""
            class="btn btn-primary"
            type="button"
            value="Đăng nhập"
          />
        </div>
      </div>
    </div>
  </div>
    <!-- Modal-end -->
  <!-- Header-main -->
  <div class="header-main">
    <!-- Header-main-left -->
    <div class="header-main-left">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="#"
            ><img class="logo"
              src="http://mauweb.monamedia.net/hachi/wp-content/uploads/2020/05/logo.png"
              alt=""
          /></a>
        </li>
      </ul>
    </div>
     <!-- Header-main-left-end -->
     <!-- Header-main-center -->
    <div class="header-main-center">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="/">
            <span class="span-hover-1">
              <img src="/public/assets/img/home_header_icon1.png" alt="">
              <img class="img-hover-1" src="/public/assets/img/hd_mainmenu_icon_hover1.png" alt="">
            </span>
            <span>TRANG CHỦ</span>
        </a>
        </li>
        <li class="nav-item nav-item-products">
          <a class="nav-link" href="#">
            <span class="span-hover-2">
              <img src="/public/assets/img/sanpham.png" alt="">
              <img class="img-hover-2" src="/public/assets/img/hd_mainmenu_icon_hover222222222222.png" alt="">
            </span>
            <span>SẢN PHẨM</span>
          </a>
          <div class="list-products">
            <div class="list-sp">
              <a href="#">CHĂM SÓC TÓC</a>
              <a href="#">Dầu xả</a>
              <a href="#">Dầu gội</a>
            </div>
            <div class="list-sp">
              <a href="#">CHĂM SÓC DA</a>
              <a href="#">Sữa tắm</a>
            </div>
            <div class="list-sp">
              <a href="#">NAM GIỚI</a>
              <a href="#">Chăm sóc tóc cho nam</a>
              <a href="#">Tắm và dưỡng thể cho nam</a>
            </div>
            <div  class="list-sp list-sp1">
              <a href="#">TRẺ EM</a>
              <a href="#">2-in-1 cho Trẻ em</a>
              <a href="#">Dầu gội Trẻ em</a>
            </div>
          </div>
        </li>
        <li class="nav-item nav-item-note">
          <a class="nav-link" href="#">
            <span class="span-hover-3">
              <img src="/public/assets/img/vehachi.png" alt="">
              <img class="img-hover-3" src="/public/assets/img/hd_mainmenu_icon_hover3.png" alt="">
            </span>
            <span>VỀ HACHI</span>
          </a>
          <div class="note-hachi">
            <a href="/ve-chung-toi/">Về chúng tôi</a>
            <a href="/tam-nhin-su-menh-gia-tri-cot-loi/">Tầm nhìn -Sứ mệnh - Giá trị - Cốt lõi</a>
            <a href="/lien-he/">Liên hệ</a>
            <a href="/he-thong-phan-phoi-va-ban-le/">Hệ thống phân phối và bán lẻ</a>
          </div>
          
        </li>
        <li class="nav-item nav-item-news">
          <a class="nav-link" href="#">
            <span>
              <img src="/public/assets/img/logo2.png" alt="">
            </span>
            <span>TIN TỨC</span>
          </a>
          <div class="sale">
            <a href="#">Khuyến mãi</a>
          </div>
        </li>
      </ul>
    </div>
     <!-- Header-main-center-end -->
     <!-- Header-main-right -->
    <div class="header-main-right">
      <ul class="nav justify-content-start">
        <li class="nav-item">
          <button class="search-up" 
            ><i class="fas fa-search"></i
          ></button>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><span>GIỎ HÀNG</span>
            
              <img
                src="/public/assets/img/hd_mainmenu_icon_cart.png"
                alt="" /></i
          ></a>
        </li>
      </ul>
    </div>
       <!-- Header-main-right-end -->
  </div>
  <!-- Header-main -end-->
</div>
<!-- Header-end -->
<div class="modal-search">
  <div class="modal-search-close">
    <button onclick="offModalSearch()"><i class="fas fa-times"></i></button>
  </div>
    <div class="box-search">
      <form action="">
        
        <input type="text" placeholder="Tìm kiếm" id="search" oninput="searchData()">
        <button><i class="fas fa-search"></i></button>
        <div class="list-search">

         

          <% prdAll.map(function showData(ele){ %>
            <div><a href="<%= ele._id %>"><%= ele.name %></a></div>
          <% } )%>





        </div>
      </form>
    </div>
</div>

