<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <style>
      .container {
        width: 50vw;
        display: flex;
        flex-direction: column;
        height: 100vh;
      }
      img {
        object-fit: cover;
        width: 207px;
        height: 57px;
      }
      input {
        padding: 10px 20px;
        outline: none;
        margin-bottom: 15px;
        border-radius: 10px;
        border: none;
        border: 1px solid #ccc;
        font-size: 14px;
        letter-spacing: 2px;
      }
      h2 {
        color: #797c11;
      }
      input[type="button"] {
        width: 300px;
        color: #fff;
        background: #3498db;
        font-size: 16px;
      }
      input[type="button"]:hover {
        opacity: 0.6;
      }
      body {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      select {
        width: 80px;
        height: 36px;
        margin-bottom: 16px;
        border: none;
        border: 1px solid #ccc;
        border-radius: 10px;
        outline: none;
        text-align: center;
      }
    </style>
    <div class="container">
      <div>
        <a href="/"><img src="/public/assets/img/logo.png" alt="" /></a>
        <h2>Tạo tài khoản</h2>
      </div>
      <input type="text" placeholder="Username" class="user" />
      <input type="password" placeholder="Password" class="pass" />
      <div style="display: flex; width: 100%; gap: 20px">
        <input
          type="text"
          placeholder="FirstName"
          class="firstName"
          style="width: 50%"
        />
        <input
          type="text"
          placeholder="LastName"
          class="lastName"
          style="width: 50%"
        />
      </div>
      <input type="text" placeholder="Phone" class="Phone" />

      <select name="" id="" class="Genner">
        <option value="Nam">Nam</option>
        <option value="Nữ">Nữ</option>
      </select>

      <input type="email" placeholder="Email" class="Email" />
      <label for="birthday" style="margin-bottom: 10px">BirthDay</label>
      <input type="date" id="birthday" class="Birthday" />
      <input type="button" onclick="dangky()" value="Đăng ký" />
      <div class="footer-end" style="display: flex">
        <p>
          Bản quyền thuộc về. Thiết kế website
          <span
            ><img
              src="/public/images/logo.png"
              style="width: 20px; height: 20px; object-fit: cover"
              alt=""
          /></span>
          <span><h6>Team Nodemy</h6></span>
        </p>
      </div>
    </div>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="/public/assets/js/dangky.js"></script>
</html>
