<!-- FOOTER -->
<div class="footer-top"></div>

<div class="footer-main">
  <div class="footer-item">
    <h2>LIÊN HỆ</h2>
    <a class="footer-item-link" href=""
      ><i class="fas fa-map-marked-alt"></i> 214 Nguyễn Xiển, Thanh Xuân, Hà
      Nội</a
    >
    <a class="footer-item-link" href=""
      ><i class="fas fa-phone-square"></i> 1900 666 888</a
    >
    <a class="footer-item-link" href=""
      ><i class="far fa-envelope"></i> nodemy@team</a
    >
    <a class="footer-item-link" href=""><i class="fab fa-skype"></i> k14team</a>
  </div>
  <div class="footer-item">
    <h2>VỀ CHÚNG TÔI</h2>
    <a class="footer-item-link" href="">Giới thiệu</a>
    <a class="footer-item-link" href="">Hệ thống phân phối</a>
    <a class="footer-item-link" href=""
      >Tầm nhìn -Sứ mệnh - Giá trị - Cốt lõi</a
    >
    <a class="footer-item-link" href="">Liên hệ</a>
  </div>
  <div class="footer-item">
    <h2>CHÍNH SÁCH</h2>
    <a class="footer-item-link" href="">Chính sách giao hàng</a>
    <a class="footer-item-link" href="">Chính sách bảo mật</a>
    <a class="footer-item-link" href="">Chính sách đổi trả</a>
    <a class="footer-item-link" href="">Điều khoản dịch vụ</a>
  </div>
  <div class="footer-item">
    <h2>ĐĂNG KÝ</h2>
    <a class="footer-item-link" href=""
      >Đăng ký để nhận được được thông tin mới nhất từ chúng tôi.</a
    >
    <div class="footer-send-email">
      <input class="input-send" type="text" placeholder="Email ..." />
      <button class="btn-send"><i class="far fa-paper-plane"></i></button>
    </div>
    <a class="footer-item-link" href="">Liên hệ</a>
    <div class="img-item-footer">
      <img src="/public/images/ft_certi_img1.png" alt="" />
    </div>
  </div>
</div>
<div class="footer-end">Team k14-project</div>
