<div class="details">
    <div class="rencentOrder">
      <div class="cardHeader">
        <h2>Rencent Order</h2>
        <a href="#" class="btn">View All</a>
      </div>
      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Price</td>
            <td>Payment</td>
            <td>Status</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Dầu gội</td>
            <td>90,000đ</td>
            <td>Paid</td>
            <td><span class="status compelete">Đã giao hàng</span></td>
          </tr>
          <tr>
            <td>Dầu xả</td>
            <td>90,000đ</td>
            <td>Paid</td>
            <td><span class="status compelete">Đã giao hàng</span></td>
          </tr>
          <tr>
            <td>Dầu gội</td>
            <td>80,000đ</td>
            <td>Due</td>
            <td><span class="status pending">Chưa giải quyết</span></td>
          </tr>
          <tr>
            <td>Sữa tắm</td>
            <td>190,000đ</td>
            <td>Paid</td>
            <td><span class="status compelete">Đã giao hàng</span></td>
          </tr>
          <tr>
            <td>Dầu gội</td>
            <td>99,000đ</td>
            <td>Paid</td>
            <td><span class="status cancel">Hủy đơn</span></td>
          </tr>
          <tr>
            <td>Dầu gội</td>
            <td>99,000đ</td>
            <td>Paid</td>
            <td><span class="status shipping">Đang giao</span></td>
          </tr>
          <tr>
            <td>Dầu gội</td>
            <td>90,000đ</td>
            <td>Paid</td>
            <td><span class="status compelete">Đã giao hàng</span></td>
          </tr>
          <tr>
            <td>Dầu xả</td>
            <td>90,000đ</td>
            <td>Paid</td>
            <td><span class="status compelete">Đã giao hàng</span></td>
          </tr>
          <tr>
            <td>Dầu gội</td>
            <td>80,000đ</td>
            <td>Due</td>
            <td><span class="status pending">Chưa giải quyết</span></td>
          </tr>
          <tr>
            <td>Sữa tắm</td>
            <td>190,000đ</td>
            <td>Paid</td>
            <td><span class="status compelete">Đã giao hàng</span></td>
          </tr>
          <tr>
            <td>Dầu gội</td>
            <td>99,000đ</td>
            <td>Paid</td>
            <td><span class="status cancel">Hủy đơn</span></td>
          </tr>
          <tr>
            <td>Dầu gội</td>
            <td>99,000đ</td>
            <td>Paid</td>
            <td><span class="status shipping">Đang giao</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="rencentCustomers">
      <div class="cardHeader">
        <h2>Rencent Customers</h2>
      </div>
      <table>
        <tbody>
          <tr>
            <td style="width: 60px">
              <div class="img_members">
                <img
                  class="img_member"
                  src="https://hook.finance/sites/default/files/user.png"
                  alt=""
                />
              </div>
            </td>
            <td>
              <h4>
                Nguyễn Văn Đức <br />
                <span>Hà Nội</span>
              </h4>
            </td>
          </tr>
          <tr>
            <td style="width: 60px">
              <div class="img_members">
                <img
                  class="img_member"
                  src="https://hook.finance/sites/default/files/user.png"
                  alt=""
                />
              </div>
            </td>
            <td>
              <h4>
                Phùng Oanh <br />
                <span>Hà Nội</span>
              </h4>
            </td>
          </tr>
          <tr>
            <td style="width: 60px">
              <div class="img_members">
                <img
                  class="img_member"
                  src="https://hook.finance/sites/default/files/user.png"
                  alt=""
                />
              </div>
            </td>
            <td>
              <h4>
                Tuấn Thịnh <br />
                <span>Hà Nội</span>
              </h4>
            </td>
          </tr>
          <tr>
            <td style="width: 60px">
              <div class="img_members">
                <img
                  class="img_member"
                  src="https://hook.finance/sites/default/files/user.png"
                  alt=""
                />
              </div>
            </td>
            <td>
              <h4>
                Nguyễn Văn Cao <br />
                <span>Hà Nội</span>
              </h4>
            </td>
          </tr>
          <tr>
            <td style="width: 60px">
              <div class="img_members">
                <img
                  class="img_member"
                  src="https://hook.finance/sites/default/files/user.png"
                  alt=""
                />
              </div>
            </td>
            <td>
              <h4>
                Hán Dũng <br />
                <span>Hà Nội</span>
              </h4>
            </td>
          </tr>
          <tr>
            <td style="width: 60px">
              <div class="img_members">
                <img
                  class="img_member"
                  src="https://hook.finance/sites/default/files/user.png"
                  alt=""
                />
              </div>
            </td>
            <td>
              <h4>
                Nguyễn Chương <br />
                <span>Hà Nội</span>
              </h4>
            </td>
          </tr>
          <tr>
            <td style="width: 60px">
              <div class="img_members">
                <img
                  class="img_member"
                  src="https://hook.finance/sites/default/files/user.png"
                  alt=""
                />
              </div>
            </td>
            <td>
              <h4>
                Ngọc Huyền <br />
                <span>Hà Nội</span>
              </h4>
            </td>
          </tr>
          <tr>
            <td style="width: 60px">
              <div class="img_members">
                <img
                  class="img_member"
                  src="https://hook.finance/sites/default/files/user.png"
                  alt=""
                />
              </div>
            </td>
            <td>
              <h4>
                Nguyễn Văn Đức <br />
                <span>Hà Nội</span>
              </h4>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  